@media screen and (min-width:900px){
    .spotify-embeds {        
        width: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;     
    }    
    .spotify-embed {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .spotify-embed iframe {
        display: block;
        width: 100%;
        transition: opacity 0.125s;
    }
}
body {
    min-height: 100%;
    background: url(/img/Backrground.png);
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
}
.spotify-embeds {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;  
    display: flex;
    justify-content: center;    
    align-items: center;
}
.spotify-embed:not(:last-of-type) {
    margin-bottom: 5px;    
}
.spotify-embed iframe {
    display: block;
    transition: opacity 0.125s;
    
}
.js .spotify-embed iframe {
    opacity: 0;
    
}
.js .spotify-embed iframe.loaded {
    opacity: 1;    
}

.titulos{
    text-align:center;
    font-size: 70px;
    width: 100%;   
    font-weight: bolder;     
}

.subtitulos{
    text-align: center;
    font-style: italic;
    width: 100%;    
    font-size: 30px;
    font-weight: bolder; 
    background-color: #ff00aa52;
}

.Seccion{
    text-align: center;
    display: inline-block;
    width: 100%;    
}

.JF{
    
    display: inline-block;
    text-align: center;
}

.JF_V{
    display: inline-block;
    text-align: center;
}

.contenido {
    font-style: italic;
    text-align: center;  
    font-size: 20px; 
}

.subseccion{
     text-align: center;
     display: inline-block;
     width: 100%;   
}

p{
    font-style: italic;
    text-align: center;  
    font-size: 20px;
}
